.profile-container {
  max-width: 400px;
  margin: 0 auto;
}

.profile-details {
  margin-bottom: 20px;
}

.detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  flex: 0 0 120px;
}

input {
  flex: 1 1 auto;
}

.profile-actions {
  text-align: center;
}
